#video {
    background-color: black;
    margin-top: 2rem;
}

#label {
    font-size: 3rem;
    margin-bottom: 2rem;
}

footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 550px;
}

footer button {
    width: 20rem;
    height: 12rem;
    border-radius: 30px;
    font-size: 6rem;
    background-color: rgba(21, 49, 30, 0.1);
}

.description {
    font-size: 35px;
    margin-top: 3rem;
}