.navbar-toggler .icon-bar {
    width: 500px !important;
    height:30px !important;
  }

.navbar-toggler {
    margin: 0.5rem;
}

.nav-item {
    font-size: 4rem;
}

.navbar-brand img {
    width: 10rem;
}

.navbar {
    background-color: rgba(21, 49, 30, 0.1);
    margin-bottom: 2rem;
}

.navbar-brand {
    font-size: 3.5rem;
    color: greenyellow !important;
    
}

html, body {
     height: 100%;
}

.row {
    justify-content: center;
    margin: auto;

}

.col {
     overflow: hidden;
     justify-content: center;
     margin: 0;
     padding: 0;
}

#title {
    font-size: 50px;
    font-family: Reem Kufi;
    color: white;
}

#icon {
    color: white;
    padding: 2rem;
    order: 0;
    font-size: 40px;
}

#iconName {
    color: white;
    font-size: 40px;
    order: 1;
    font-family: Reem Kufi;
}

#items {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#stats{
    display: flex;
    justify-content: center;
    align-items: center;
}

#cont {
    display: flex;
    flex-flow: column;
    padding: 0;
    margin: 0;
}

#navHeader {
  justify-content: space-between;
  margin: auto;
}

#logo, #title {
    margin-left: 0rem;
    margin-right: 10rem;
}

#toggle {
    margin-left: 4rem;
    margin-right: 0rem;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

#scan {
    border-radius: none;
    font-size: 45px;
    color: white;
}
