html, body {
    height: 100%;
    margin: 0;
}

#mdbCol {
    justify-content: center;
    margin: auto;
}

#mdbRow {
    justify-content: center;
    margin: auto;
}


.statistics {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

}

#chartWeekly {

    font-family: Reem Kufi;
}

.btn {
    outline: none;
    box-shadow: none;
}

.card {
    object-fit: contain;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: space-between;
    border-radius: 3px;

    @include media-breakpoint-down(xl) {
      margin-right: 1rem;
      margin-left: 1rem;
    }
    @include media-breakpoint-down(lg) {
      margin-right: 1rem;
      margin-left: 1rem;
    }
    @include media-breakpoint-down(md) {
      margin-right: 1rem;
      margin-left: 1rem;
    }
    @include media-breakpoint-down(sm) {
      margin-right: 1rem;
      margin-left: 1rem;
    }
    @include media-breakpoint-down(xs) {
      margin-right: 1rem;
      margin-left: 1rem;
    }

}


#timelineButton {
    font-family: Reem Kufi;
}
