/* .card {
    margin: 1.5rem;
    width: 100%;
    background-color: rgba(21, 49, 30, 0.1);
} */

.card {
    object-fit: contain;
    background-color: rgba(21, 49, 30, 0.1);
    justify-content: space-between;
    border-radius: 3px;

    @include media-breakpoint-down(xl) {
      margin-right: 1rem;
      margin-left: 1rem;
    }
    @include media-breakpoint-down(lg) {
      margin-right: 1rem;
      margin-left: 1rem;
    }
    @include media-breakpoint-down(md) {
      margin-right: 1rem;
      margin-left: 1rem;
    }
    @include media-breakpoint-down(sm) {
      margin-right: 1rem;
      margin-left: 1rem;
    }
    @include media-breakpoint-down(xs) {
      margin-right: 1rem;
      margin-left: 1rem;
    }

}

.card-title {
    font-size: 3.5rem;
    color: white;
}

.card-text {
  font-size: 2rem;
    color: white;
}
.tips {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

#mdbCol1, #mdbCol2 {
    justify-content: center;
    margin: auto;
}

#mdbRow1, #mdbRow2 {
    justify-content: center;
    margin: auto;
}
